## 1.1 Python Veriables
<ul>
    <li>Numbers</li>
    <li>String</li>
    <li>List</li>
    <li>Tuple</li>
    <li>Dictionary</li>
</ul>

<h5>Python Identifiers</h5>
<p>A Python identifier is a name used to identify a variable, function, class, module or other object.</p>

In [1]:
a=10
b=20.5
c='X'
d='Hello World'

print(a, b, c, d)

10 20.5 X Hello World

In [2]:
a = b = c = 1
print(a, b, c)

1 1 1

In [3]:
a, b, c = 1, 2, "john"
print(a, b, c)

1 2 john

## 1.2 Python Strings
<p>String in Python are identified as a contiguous set of characters represented in the quotation marks. Python allows for either pairs of single or double quotes.</p>

In [4]:
myStr="Hello World!"
print(myStr) # Prints complete string
print(myStr[0]) # Prints first character of the string
print(myStr[2:5]) # Prints characters starting from 3rd to 5th
print(myStr[2:]) # Prints string starting from 3rd character
print(myStr * 2) # Prints string two times
print(myStr + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

## 1.3 Python Input
<p>Python <b>input()</b> function returns the user keyboard input as a string. You can use the <b>eval()</b> function to convert it into the desired data type. </p>

In [6]:
x=input()
print('x: ', x)

 10

x:  10

In [7]:
x=input('Enter a value for x:')
print('x: ', x)

Enter a value for x: 20

x:  20

In [8]:
x=input('Enter a value for x:')
y=input('Enter a value for y:')
print('x+y', x+y)

Enter a value for x: 10
Enter a value for y: 20.5

x+y 1020.5

In [9]:
x=eval(input('Enter a value for x:'))
y=eval(input('Enter a value for y:'))
print('x+y:', x+y)

Enter a value for x: 10
Enter a value for y: 20.5

x+y: 30.5

In [12]:
value1=eval(input('Enter value1:'))
value2=eval(input('Enter value1:'))
print('Addition', value1+value2)
print('Subtraction', value1-value2)
print('Multiplication', value1*value2)
print('Division', value1/value2)
print('Modulus', value1%value2)
print('Exponent', value1**value2)

Enter value1: 20
Enter value1: 10

Addition 30
Subtraction 10
Multiplication 200
Division 2.0
Modulus 0
Exponent 10240000000000

## 2 Arrays in Python
<p>In most of the other Programming Languages, an array defined as a data structure, which can store a fixed-size collection of elements of the same data type.</p>
<ul>
    <li>Lists</li>
    <li>Tuples</li>
    <li>Dictionaries</li>
</ul>

## 2.1 Lists
<p>The list is the most versatile datatype available in Python, which can be written as a list of comma-separated values (items) between square brackets. Important thing about a list is that the items in a list need not be of the same type.</p>
<p>Creating a list is as simple as putting different comma-separated values between square brackets.</p>

In [13]:
myList=[10,20.5,'X','Hello']
print(myList)
print(myList[0])
print(myList[1])

[10, 20.5, 'X', 'Hello']
10
20.5

In [17]:
myList=[10,20,40,23,21,24,12]
print(myList[0:3])
print(myList[:3])
print(myList[3:])
print(myList[2:5])

[10, 20, 40]
[10, 20, 40]
[23, 21, 24, 12]
[40, 23, 21]

<h5>Update List Elements</h5>
<p>You can update single or multiple elements of lists by giving the slice on the left-hand side of the assignment operator.</p>

In [15]:
myList=['Physics','Chemistry',1997,2000]
print("Value available at index 2", myList[2])

myList[2]=2001
print("New value available at index 2 : ", myList[2])

Value available at index 2 1997
New value available at index 2 :  2001

<h5>Delete List Elements</h5>
<p>To remove a list element, you can use either the del statement if you know exactly which element(s) you are deleting. You can use the <b>remove()</b> method if you do not know exactly which items to delete. For example -</p>

In [16]:
myList=['Physics','Chemistry',1997,2000]
print(myList)

del myList[2]
print("After deleting value at index 2 : ", myList)

['Physics', 'Chemistry', 1997, 2000]
After deleting value at index 2 :  ['Physics', 'Chemistry', 2000]

<h5>Built-in List Functions and Methods</h5>
<p>Python include the following list functions-</p>
<ul>
    <li><b>len(list)</b> Gives the total length of the list.</li>
    <li><b>max(list)</b> Returns item from the list with max value.</li>
    <li><b>min(list)</b> Returns item from the list with min value.</li>
    <li><b>sum(list)</b> Returns summation of the items from the list.</li>
</ul>

In [18]:
list1=['Physics','Chemistry','Maths']
x=len(list1)
print(x)

3

In [19]:
list1, list2=['C++', 'Java', 'Python'], [456, 700, 200]
print("Max value element : ", max(list1))
print("Max value element : ", max(list2))

Max value element :  Python
Max value element :  700

In [20]:
list3=list(range(10))
print(list3)
print(sum(list3))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
45

<h6>Python includes the following list methods</h6>
<ul>
    <li><b>list.append(obj)</b> Appends object obj to list</li>
    <li><b>list.count(obj)</b> Returns count of how many times obj occurs in list</li>
    <li><b>list.extend(seq)</b> Appends the contents of seq to list</li>
    <li><b>list.index(obj)</b> Returns the lowest index in list that obj appears</li>
    <li><b>list.insert(index,obj)</b> Inserts object obj into list at offset index</li>
    <li><b>list.sort([func])</b> Sorts objects of list, use compare func if given</li>
    <li><b>list.remove(obj)</b> Removes object obj from list</li>
</ul>

In [22]:
list1=['C++', 'Java', 'Python']
list1.append('C#')
print("Update list : ", list1)

Update list :  ['C++', 'Java', 'Python', 'C#']

In [23]:
aList=[123, 'xyz', 'zara', 'abc', 123];
print("Count for 123 : ", aList.count(123))
print("Count fro zara : ", aList.count('zara'))

Count for 123 :  2
Count fro zara :  1

In [1]:
list1=['physics','chemistry','maths']
list2=list(range(5)) #creates list of numbers between 0-4
list1.extend(list2)
print('Extended List :', list1)

Extended List : ['physics', 'chemistry', 'maths', 0, 1, 2, 3, 4]

In [2]:
list1=['physics','chemistry','maths']
print('Index of chemistry:', list1.index('chemistry'))

Index of chemistry: 1

In [3]:
list1=['physics','biology','chemistry','maths']
list1.pop()
print('list now: ',list1)
list1.pop(1)
print('list now: ', list1)

list now:  ['physics', 'biology', 'chemistry']
list now:  ['physics', 'chemistry']

In [4]:
list1=['physics','biology','chemistry','maths']
list1.remove('biology')
print("list now : ", list1)
list1.remove('maths')
print("list now : ", list1)

list now :  ['physics', 'chemistry', 'maths']
list now :  ['physics', 'chemistry']

In [5]:
list1=['physics','biology','chemistry','maths']
list1.reverse()
print("list now : ", list1)

list now :  ['maths', 'chemistry', 'biology', 'physics']

In [11]:
list1=['physics','biology','chemistry','maths']
list1.sort(reverse=False)
print("list now : ", list1)

list now :  ['biology', 'chemistry', 'maths', 'physics']

In [7]:
list1=['physics','biology','chemistry','maths']
list1.sort()
print("list now : ", list1)

list now :  ['biology', 'chemistry', 'maths', 'physics']

In [12]:
list1=['physics','biology','chemistry','maths']
list1.sort(reverse=True)
print("list now : ", list1)

list now :  ['physics', 'maths', 'chemistry', 'biology']

## 2.2 Tuples
<p>A tuple a sequence of immutable python objects. Tuples are sequences just like lists. The main difference between the tuples and lists is that the tuples cannot be changed unike lists. Tuples use parentheses whereas lists use square brackets.</p>
<p>Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses also</p>

In [1]:
tup1=('physics','chemistry',1997,2000)
tup2=(1,2,3,4,5)
tup3="a","b","c","d"

<h5>Accessing Values in Tuples</h5>
<p>To access values in tuple, use the square brackets for slicing along with the index or indices to obtain the value available at that index</p>

In [9]:
tup1=('physics','chemistry',1997,2000)
tup2=(1,2,3,4,5,6,7)

print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

<h5>Updating Tuples</h5>
<p>Tuples are immutable, which means you cannot update or change the values of tuple elements.</p>

In [10]:
tup1=(12,34.56)
tup2=('abc','xyz')
# Following action is not valid for tuples
tup1[0]=100

TypeError: 'tuple' object does not support item assignment

In [13]:
# Following action is not valid for tuples
tup1.append(100)

AttributeError: 'tuple' object has no attribute 'append'

<p>However, You are able to take portions of the existing tuples to create new tuples as the following example demonstrates</p>

In [14]:
tup1=(12,34.56)
tup2=('abc','xyz')

tup3=tup1+tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

<p>Or else you can convert a tuple into list and then modify.</p>

In [15]:
tup1=(12,34.56)

list1=list(tup1)
print(list1)
list1.append(100)
list1[0]=20
print(list1)

[12, 34.56]
[20, 34.56, 100]

<p>Almost all the inbuilt list functions and inbuilt list methods expect methods which tries to modify a tuple work similar for tuples as well.</p>

In [16]:
myTuple=(12,433,53,234,6246)
print(max(myTuple))
print(len(myTuple))

6246
5

## 2.3 Dictionary
<p>Each key is separated from its value by a colon(:), the items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this:{}</p>
<p>Keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, but the keys must be of an immutable data type such as string, numbers or tuples</p>

<h5>Accessing Values in Dictionary</h5>
<p>To access dictionary elements, you can use the familiar square brackets along with the key to obtain its value.</p>

In [2]:
# Student(List)
student=['John',80,85,90,85]
print(student)
print(student[0])
print(student[1])

['John', 80, 85, 90, 85]
John
80

In [3]:
# Student(Dictionary)
student={'name':'John','maths':80,'phy':85,'chem':90,'phy':85}

print(student)
print(student['name'])
print(student['maths'])

{'name': 'John', 'maths': 80, 'phy': 85, 'chem': 90}
John
80

<h5>Updating & Assignning new elements</h5>

In [8]:
student={'name':'John','maths':80,'phy':85,'chem':90,'phy':95}
student['name']='William'

print(student)

{'name': 'William', 'maths': 80, 'phy': 95, 'chem': 90}

In [9]:
student['avg']=(student['maths']+student['phy']+student['chem'])/3
print(student)

{'name': 'William', 'maths': 80, 'phy': 95, 'chem': 90, 'avg': 88.33333333333333}

<h5>Delete Dictionary Elements</h5>
<p>You can either remove individual dictionary elements or clear the entire contents of a dictionary. You can also delete entire dictionary in a single operation. To explicitly remove an entire dictionary, just use the del statement. Following is a simple example</p>

In [10]:
myDict={'Name':'Zara', 'Age':7, 'Class':'First'}

del myDict['Name'] # remove entry with key 'Name'
print(myDict) 
myDict.clear() # remove all entries in dict
print(myDict)
del myDict # delete entrie dictionary

{'Age': 7, 'Class': 'First'}
{}

<h5>Properties of Dictionary Keys</h5>
<p>Dictionary values have no restrictions. They can be any arbitrary Phython object. either standard objects or user-defined objects. However, same is not true for the keys.</p>
<p>There are two important points to remember about dictionary keys-</p>
<p>(a) More than one entry per key is not allowed. This means no duplicate key is allowed. When duplicate keys are encountered during assignment, the last assignment wins</p>

In [11]:
myDict={'Name':'Zara','Age':7,'Name':'Manni'}
print("myDict['Name']: ", myDict['Name'])

myDict['Name']:  Manni

(b) Keys must be immutable. This means you can use string, numbers or tuples as dictionary keys but something like ['key'] is not allowed

In [12]:
myDict={['Name']:'Zara','Age':7}
print("dict['Name']: ", myDict['Name'])

TypeError: unhashable type: 'list'

In [13]:
myDict={88.7:'Zara','Age':7}
print("dict[88.7]: ", myDict[88.7])

dict[88.7]:  Zara

<h5>Built-in Dictionary Functions and Methods</h5>
<ul>
    <li><b>len(dict)</b> Gives the total length of the dictionary. This would be equal to the number of items in the dictionary.</li>
    <li><b>dict.clear()</b> Removes all elements of dictionary dict</li>
    <li><b>dict.copy()</b> Returns a shallow copy of dictionary dict</li>
    <li><b>dict.fromkeys()</b> Create a new dictionary with keys from seq and values set to value.</li>
    <li><b>dict.get(key, default=None)</b> Focuse the in operation instead.</li>
    <li><b>dict.items()</b> Returns a list of dict's (key,vlaue) tuple pairs</li>
    <li><b>dict.keys()</b> Returns list of dictionary dict's keys</li>
    <li><b>dict.setdefault(key, default=None)</b> Similar to get(), but will set dict[key]=default if key is not already in dict</li>
    <li><b>dict.update(dict2)</b> Adds dictionary dict2's key-values pairs to dict</li>
    <li><b>dict.values()</b> Returns list of dictionary dict's values</li>
</ul>

In [14]:
myDict={'Name':'Manni', 'Age':7, 'Class': 'First'}
print("length :", len(myDict))

length : 3

In [15]:
dict1={'Name':'Manni', 'Age':7, 'Class': 'First'}
dict2=dict1.copy()
print("New Dictionary: ", dict2)

New Dictionary:  {'Name': 'Manni', 'Age': 7, 'Class': 'First'}

In [16]:
keys=('name','age','sex')
myDict=myDict.fromkeys(keys)
print("New Dictionary: ",myDict)

New Dictionary:  {'name': None, 'age': None, 'sex': None}

In [17]:
keys=('name','age','sex')
value=['John',31,'Male']
myDict=dict(zip(keys,value))
print(myDict)

{'name': 'John', 'age': 31, 'sex': 'Male'}

In [18]:
myDict={'Name':'Zara','Age':7}
keys,values=myDict.items()
print(keys)
print(values)

('Name', 'Zara')
('Age', 7)

In [19]:
myDict={'Name':'Zara','Age':7}
print("Value :", myDict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

In [20]:
myDict={'Name':'Zara','Age':7}
keys=myDict.keys()
print(keys)

dict_keys(['Name', 'Age'])

In [22]:
myDict={'Name':'Zara','Age':7}
values=myDict.values()
print(values)

dict_values(['Zara', 7])

In [23]:
dict1={'Name':'Zara','Age':7}
dict2={'Sex':'Female'}

dict1.update(dict2)
print("Updated dict :", dict1)

Updated dict : {'Name': 'Zara', 'Age': 7, 'Sex': 'Female'}

In [1]:
# Example
sine={0:0,30:0.5,45:0.707,60:0.866,90:1}
cosine={0:1,30:0.866,45:0.707,60:0.5,90:1}
tangent={0:0, 30:0.577, 45:1, 60:1.732,90:'Not defind'}

print(sine[30])
print(cosine[45])
print(tangent[90])

0.5
0.707
Not defind

In [2]:
# Example
names=[]
marks=[]
for i in range(0,10):
    x=input('Enter the Name: ')
    y=eval(input('Enter the Marks: '))

    names.append(x)
    marks.append(y)

student=dict(zip(names,marks))
print(student)

Enter the Name:  Tharindu
Enter the Marks:  100
Enter the Name:  Lakshan
Enter the Marks:  90
Enter the Name:  Bandara
Enter the Marks:  90
Enter the Name:  Suneth
Enter the Marks:  34
Enter the Name:  Rumesh
Enter the Marks:  35
Enter the Name:  Sahan
Enter the Marks:  100
Enter the Name:  Lahiru
Enter the Marks:  67
Enter the Name:  Kamal
Enter the Marks:  100
Enter the Name:  Ruwan
Enter the Marks:  90
Enter the Name:  Kasun
Enter the Marks:  98

{'Tharindu': 100, 'Lakshan': 90, 'Bandara': 90, 'Suneth': 34, 'Rumesh': 35, 'Sahan': 100, 'Lahiru': 67, 'Kamal': 100, 'Ruwan': 90, 'Kasun': 98}

## 3 Decision Making

In [4]:
a=10
b=20
if(b>a):
    print('b is greater than a')

if(a>b):
    print('a is greater than b')

b is greater than a

In [5]:
var1=100;
if var1:
    print('1- Got a true expression value')
    print(var1)

var2=0
if var2:
    print('2- Got a true expression value')
    print(var2)

print('End')

1- Got a true expression value
100
End

In [6]:
amount=int(input("Enter amount: "))

if amount<1000:
    discount=amount*0.05
    print("Discount", discount)
else:
    discount=amount*0.10
    print("Discount", discount)

print("Net payable: ", amount-discount)

Enter amount:  500

Discount 25.0
Net payable:  475.0

In [7]:
amount=int(input("Enter amount: "))

if amount<1000:
    discount=amount*0.05
    print("Discount", discount)
elif amount<5000:
    discount=amount*0.10
    print("Discount", discount)
else:
    discount=amount*0.15
    print("Discount",discount)

print("Net payable: ", amount-discount)

Enter amount:  2000

Discount 200.0
Net payable:  1800.0

In [10]:
num=int(input("Enter number"))
if num%2==0:
    if num%3==0:
        print("Divisible by 3 and 2")
    else:
        print("Divisible by 2 not Divisible by 3")
else:
    if num%3==0:
        print("Divisible by 3 not Divisible by2")
    else:
        print("Not Divisible by 2 not divisible by 3")

Enter number 23

Not Divisible by 2 not divisible by 3

## 4 Loops

In [11]:
for i in range(0,10,1):
    print('The count is : ', i)

print('End')

The count is :  0
The count is :  1
The count is :  2
The count is :  3
The count is :  4
The count is :  5
The count is :  6
The count is :  7
The count is :  8
The count is :  9
End

In [12]:
count=0
while(count<10):
    print('The count is" ', count)
    count=count+1

print('End')

The count is"  0
The count is"  1
The count is"  2
The count is"  3
The count is"  4
The count is"  5
The count is"  6
The count is"  7
The count is"  8
The count is"  9
End

In [13]:
for i in range(5,10):
    print('The count is: ', i)

The count is:  5
The count is:  6
The count is:  7
The count is:  8
The count is:  9

In [14]:
for i in range(10):
    print('The count is:', i)

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
The count is: 9

<h5>for loop and lists</h5>

In [15]:
myList=[123,445,534,52,44,32]
for i in range(len(myList)):
    print(i)

0
1
2
3
4
5

In [16]:
myList=[123,445,534,52,44,32]
for i in range(len(myList)):
    print(myList[i])

123
445
534
52
44
32

In [17]:
myList=[123,445,534,52,44,32]
for val in myList:
    print(val)

123
445
534
52
44
32

<h5>Using else Statement with looops</h5>

In [18]:
numbers=[11,33,55,39,55,75,37,21,23,41,13]

for num in numbers:
    if num%2==0:
        print('The list contains an even number')
        break
else:
    print('The list doesnot contain even number')

The list doesnot contain even number

<h5>Nested Loops</h5>

In [19]:
for i in range(0,10):
    for j in range(0,5):
        print(i,j)
        print('++++++')
    print('=======')

0 0
++++++
0 1
++++++
0 2
++++++
0 3
++++++
0 4
++++++
=======
1 0
++++++
1 1
++++++
1 2
++++++
1 3
++++++
1 4
++++++
=======
2 0
++++++
2 1
++++++
2 2
++++++
2 3
++++++
2 4
++++++
=======
3 0
++++++
3 1
++++++
3 2
++++++
3 3
++++++
3 4
++++++
=======
4 0
++++++
4 1
++++++
4 2
++++++
4 3
++++++
4 4
++++++
=======
5 0
++++++
5 1
++++++
5 2
++++++
5 3
++++++
5 4
++++++
=======
6 0
++++++
6 1
++++++
6 2
++++++
6 3
++++++
6 4
++++++
=======
7 0
++++++
7 1
++++++
7 2
++++++
7 3
++++++
7 4
++++++
=======
8 0
++++++
8 1
++++++
8 2
++++++
8 3
++++++
8 4
++++++
=======
9 0
++++++
9 1
++++++
9 2
++++++
9 3
++++++
9 4
++++++
=======

In [20]:
for letter in 'Python':
    if letter=='h':
        break
    print('Current Letter:', letter)

Current Letter: P
Current Letter: y
Current Letter: t

In [21]:
var =10
while var>0:
    print('Current variable value :', var)
    var=var-1
    if var==5:
        break
print('End')

Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
End

In [22]:
for letter in 'Python':
    if letter=='h':
        continue
    print('Current Letter : ', letter)

Current Letter :  P
Current Letter :  y
Current Letter :  t
Current Letter :  o
Current Letter :  n

In [24]:
var =10
while var>0:
    var=var-1
    if var==5:
        continue
    print('Current variable value :', var)
print('End')

Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Current variable value : 4
Current variable value : 3
Current variable value : 2
Current variable value : 1
Current variable value : 0
End

In [25]:
for letter in 'Python':
    if letter=='h':
        pass
        print('This is pass block')
    print('Current Letter :', letter)
print('End')

Current Letter : P
Current Letter : y
Current Letter : t
This is pass block
Current Letter : h
Current Letter : o
Current Letter : n
End

In [26]:
for i in range(10):
    pass

## 5 Functions

In [28]:
def myFunc(a,b,c):
    print('a:',a)
    print('b:',b)
    print('c',c)

myFunc(10,'Hello',20.4)

a: 10
b: Hello
c 20.4

<h5>Function Arguments</h5>
<p>You can call a function by using the following types of formal arguments</p>
<ul>
    <li>Required arguments</li>
    <li>Keyword arguments</li>
    <li>Default arguments</li>
    <li>Variable-length arguments</li>
</ul>

<h6>Required Arguments</h6>

In [29]:
def myFunc(a,b,c):
    print('a:',a)
    print('b:',b)
    print('c',c)

myFunc(10,'Hello')

TypeError: myFunc() missing 1 required positional argument: 'c'

<h6>Default Arguments</h6>

In [31]:
def myFunc(a=0,b="",c=0):
    print('a:',a)
    print('b:',b)
    print('c',c)

myFunc()

a: 0
b:
c 0

In [32]:
myFunc(10)

a: 10
b:
c 0

In [33]:
myFunc(10,"Hi")

a: 10
b: Hi
c 0

In [34]:
myFunc(10,"Hi",20.3)

a: 10
b: Hi
c 20.3

<h6>Keyword Arguments</h6>

In [35]:
def myFunc(a,b,c):
    print('a:',a)
    print('b:',b)
    print('c',c)

myFunc(a=10,c=20.3,b='Hello')

a: 10
b: Hello
c 20.3

<h6>Variable-length Arguments</h6>

In [36]:
def printInfo(arg1, *var):
    print('arg1:',arg1)
    print('var:',var)

printInfo(10)

arg1: 10
var: ()

In [37]:
printInfo(10,20)

arg1: 10
var: (20,)

In [38]:
printInfo(10,20,30,40)

arg1: 10
var: (20, 30, 40)

<h5>The return Statement</h5>

In [39]:
def add(arg1, arg2):
    total=arg1+arg2
    print("Inside the function :", total)
    return total

val=add(10,30)
print("Outside the function :",val)

Inside the function : 40
Outside the function : 40

<h5>Python functions can return multiple values.</h5>

In [41]:
def calculator(val1,val2):
    add=val1+val2
    sub=val1-val2
    mult=val1*val2
    div=val1/val2
    return add,sub,mult,div

val=calculator(10,2)
print(val)

(12, 8, 20, 5.0)

In [42]:
a,b,c,d=calculator(10,2)
print(a)
print(b)
print(c)
print(d)

12
8
20
5.0

<h5>The Anonymous Functions</h5>

In [43]:
sum=lambda arg1,arg2:arg1+arg2

val1=sum(10,20)
val2=sum(30,40)

print("Value of total: ",val1)
print("Value of tatal: ",val2)

Value of total:  30
Value of tatal:  70

<h5>Scope of Variables</h5>
<ul>
    <li>Global variables</li>
    <li>Local varialbles</li>
</ul>

In [45]:
total=0 # This is global variable.
def add(arg1,arg2):
    total=arg1+arg2 # Here tatal is local variable
    print("Inside the function local total: ", total)
    return total

val=add(10,20)
print("Outside the function local total :", total)

Inside the function local total:  30
Outside the function local total : 0

## 6 Modules
<ul>
    <li>Inbuit Modules</li>
    <li>Custom Modules</li>
    <li>External Modules</li>
</ul>

<h5>Python Inbuilt Modules</h5>
<ul>
    <li>maths</li>
    <li>datetime</li>
    <li>os</li>
    <li>random</li>
    <li>tkinter</li>
    <li>csv</li>
    <li>re</li>
    <li>email</li>
    <li>html</li>
    <li>http</li>
</ul>

<h5>External Modules</h5>
<ul>
    <li>TensorFlow</li>
    <li>Keras</li>
    <li>OpenCV</li>
    <li>scikit learn</li>
    <li>NumPy</li>
    <li>matplotlib</li>
    <li>Pandas</li>
</ul>

In [46]:
import math
math.pow(10,2)

100.0

In [47]:
import math as m
m.pow(2,3)

8.0

In [48]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [50]:
from math import log
val=log(100,10)
print(val)

2.0

In [51]:
from math import factorial as fc
val=fc(5)
print(val)

120

In [52]:
from math import *
factorial(4)

24

In [53]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

<h5>Custom Modules</h5>

In [54]:
import myMath as mM

val=mM.add(10,20)
print(val)

30

In [55]:
val=mM.avg(10,20,30)
print(val)

20.0

In [56]:
print(mM.val1)

1000

In [57]:
from myMath import add as a
val=a(10,34)
print(val)

44