## Exercise 1 - Numpy and Pandas

In [3]:
import pandas as pd
dataset=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Python_Programming/student.csv')
#dataset=pd.read_csv(r'C:\Users\student.csv')

In [4]:
print(dataset)

        Name  Maths  Physics  Chemistry
0       John     45       89         34
1    William     50        3         65
2      Henry     34        2         76
3      Chris     22       42         87
4       Jack     78       44         55
5   Stephane     23       11         67
6     Harald     23       97         87
7     Hearmy     43       45         54
8     Sinsel      2       34         34
9     George     23       66         56
10     James     44       33         76
11      Jade     22       56         55
12     Tommy     44       32          4
13     Yonus     90       28          4
14     Randy     19       67         56
15       Rex     32       87          6
16    Tucsan     45       65         90
17     Amell    100       32         45
18       Vin     34        2         65
19    Hector     55        4         98

In [5]:
import pandas as pd
dataset=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Python_Programming/student.csv').values
print(dataset)

[['John' 45 89 34]
 ['William' 50 3 65]
 ['Henry' 34 2 76]
 ['Chris' 22 42 87]
 ['Jack' 78 44 55]
 ['Stephane' 23 11 67]
 ['Harald' 23 97 87]
 ['Hearmy' 43 45 54]
 ['Sinsel' 2 34 34]
 ['George' 23 66 56]
 ['James' 44 33 76]
 ['Jade' 22 56 55]
 ['Tommy' 44 32 4]
 ['Yonus' 90 28 4]
 ['Randy' 19 67 56]
 ['Rex' 32 87 6]
 ['Tucsan' 45 65 90]
 ['Amell' 100 32 45]
 ['Vin' 34 2 65]
 ['Hector' 55 4 98]]

In [6]:
print(dataset.ndim, dataset.shape)

2 (20, 4)

In [7]:
import numpy as np
avg=np.mean(dataset[:,1:],axis=1)
print(avg)

[56.0 39.333333333333336 37.333333333333336 50.333333333333336 59.0
 33.666666666666664 69.0 47.333333333333336 23.333333333333332
 48.333333333333336 51.0 44.333333333333336 26.666666666666668
 40.666666666666664 47.333333333333336 41.666666666666664
 66.66666666666667 59.0 33.666666666666664 52.333333333333336]

In [8]:
def findGrade(mark):
  if(mark>=0 and mark<35):
    grade='F'
  elif(mark>=35 and mark<45):
    grade='S'
  elif(mark>=45 and mark<65):
    grade='C'
  elif(mark>=65 and mark<75):
    grade='B'
  elif(mark>=75 and mark<=100):
    grade='A'
  return grade

In [11]:
mathsGrades=np.array([findGrade(i) for i in dataset[:,1]])
print(mathsGrades)
mathsGrades=mathsGrades.reshape(-1,1)
print(mathsGrades)

['C' 'C' 'F' 'F' 'A' 'F' 'F' 'S' 'F' 'F' 'S' 'F' 'S' 'A' 'F' 'F' 'C' 'A'
 'F' 'C']
[['C']
 ['C']
 ['F']
 ['F']
 ['A']
 ['F']
 ['F']
 ['S']
 ['F']
 ['F']
 ['S']
 ['F']
 ['S']
 ['A']
 ['F']
 ['F']
 ['C']
 ['A']
 ['F']
 ['C']]

In [12]:
phyGrades=np.array([findGrade(i) for i in dataset[:,2]])
print(phyGrades)
phyGrades=phyGrades.reshape(-1,1)
print(phyGrades)

['A' 'F' 'F' 'S' 'S' 'F' 'A' 'C' 'F' 'B' 'F' 'C' 'F' 'F' 'B' 'A' 'B' 'F'
 'F' 'F']
[['A']
 ['F']
 ['F']
 ['S']
 ['S']
 ['F']
 ['A']
 ['C']
 ['F']
 ['B']
 ['F']
 ['C']
 ['F']
 ['F']
 ['B']
 ['A']
 ['B']
 ['F']
 ['F']
 ['F']]

In [13]:
chemGrades=np.array([findGrade(i) for i in dataset[:,3]])
print(chemGrades)
chemGrades=chemGrades.reshape(-1,1)
print(chemGrades)

['F' 'B' 'A' 'A' 'C' 'B' 'A' 'C' 'F' 'C' 'A' 'C' 'F' 'F' 'C' 'F' 'A' 'C'
 'B' 'A']
[['F']
 ['B']
 ['A']
 ['A']
 ['C']
 ['B']
 ['A']
 ['C']
 ['F']
 ['C']
 ['A']
 ['C']
 ['F']
 ['F']
 ['C']
 ['F']
 ['A']
 ['C']
 ['B']
 ['A']]

In [14]:
avg=avg.reshape(-1,1).reshape(-1,1)
print(avg)

[[56.0]
 [39.333333333333336]
 [37.333333333333336]
 [50.333333333333336]
 [59.0]
 [33.666666666666664]
 [69.0]
 [47.333333333333336]
 [23.333333333333332]
 [48.333333333333336]
 [51.0]
 [44.333333333333336]
 [26.666666666666668]
 [40.666666666666664]
 [47.333333333333336]
 [41.666666666666664]
 [66.66666666666667]
 [59.0]
 [33.666666666666664]
 [52.333333333333336]]

In [15]:
print(dataset)

[['John' 45 89 34]
 ['William' 50 3 65]
 ['Henry' 34 2 76]
 ['Chris' 22 42 87]
 ['Jack' 78 44 55]
 ['Stephane' 23 11 67]
 ['Harald' 23 97 87]
 ['Hearmy' 43 45 54]
 ['Sinsel' 2 34 34]
 ['George' 23 66 56]
 ['James' 44 33 76]
 ['Jade' 22 56 55]
 ['Tommy' 44 32 4]
 ['Yonus' 90 28 4]
 ['Randy' 19 67 56]
 ['Rex' 32 87 6]
 ['Tucsan' 45 65 90]
 ['Amell' 100 32 45]
 ['Vin' 34 2 65]
 ['Hector' 55 4 98]]

In [17]:
dataset=np.append(dataset,mathsGrades,axis=1)
print(dataset)

[['John' 45 89 34 'C']
 ['William' 50 3 65 'C']
 ['Henry' 34 2 76 'F']
 ['Chris' 22 42 87 'F']
 ['Jack' 78 44 55 'A']
 ['Stephane' 23 11 67 'F']
 ['Harald' 23 97 87 'F']
 ['Hearmy' 43 45 54 'S']
 ['Sinsel' 2 34 34 'F']
 ['George' 23 66 56 'F']
 ['James' 44 33 76 'S']
 ['Jade' 22 56 55 'F']
 ['Tommy' 44 32 4 'S']
 ['Yonus' 90 28 4 'A']
 ['Randy' 19 67 56 'F']
 ['Rex' 32 87 6 'F']
 ['Tucsan' 45 65 90 'C']
 ['Amell' 100 32 45 'A']
 ['Vin' 34 2 65 'F']
 ['Hector' 55 4 98 'C']]

In [18]:
dataset=np.append(dataset,phyGrades,axis=1)
print(dataset)

[['John' 45 89 34 'C' 'A']
 ['William' 50 3 65 'C' 'F']
 ['Henry' 34 2 76 'F' 'F']
 ['Chris' 22 42 87 'F' 'S']
 ['Jack' 78 44 55 'A' 'S']
 ['Stephane' 23 11 67 'F' 'F']
 ['Harald' 23 97 87 'F' 'A']
 ['Hearmy' 43 45 54 'S' 'C']
 ['Sinsel' 2 34 34 'F' 'F']
 ['George' 23 66 56 'F' 'B']
 ['James' 44 33 76 'S' 'F']
 ['Jade' 22 56 55 'F' 'C']
 ['Tommy' 44 32 4 'S' 'F']
 ['Yonus' 90 28 4 'A' 'F']
 ['Randy' 19 67 56 'F' 'B']
 ['Rex' 32 87 6 'F' 'A']
 ['Tucsan' 45 65 90 'C' 'B']
 ['Amell' 100 32 45 'A' 'F']
 ['Vin' 34 2 65 'F' 'F']
 ['Hector' 55 4 98 'C' 'F']]

In [19]:
dataset=np.append(dataset,chemGrades,axis=1)
print(dataset)

[['John' 45 89 34 'C' 'A' 'F']
 ['William' 50 3 65 'C' 'F' 'B']
 ['Henry' 34 2 76 'F' 'F' 'A']
 ['Chris' 22 42 87 'F' 'S' 'A']
 ['Jack' 78 44 55 'A' 'S' 'C']
 ['Stephane' 23 11 67 'F' 'F' 'B']
 ['Harald' 23 97 87 'F' 'A' 'A']
 ['Hearmy' 43 45 54 'S' 'C' 'C']
 ['Sinsel' 2 34 34 'F' 'F' 'F']
 ['George' 23 66 56 'F' 'B' 'C']
 ['James' 44 33 76 'S' 'F' 'A']
 ['Jade' 22 56 55 'F' 'C' 'C']
 ['Tommy' 44 32 4 'S' 'F' 'F']
 ['Yonus' 90 28 4 'A' 'F' 'F']
 ['Randy' 19 67 56 'F' 'B' 'C']
 ['Rex' 32 87 6 'F' 'A' 'F']
 ['Tucsan' 45 65 90 'C' 'B' 'A']
 ['Amell' 100 32 45 'A' 'F' 'C']
 ['Vin' 34 2 65 'F' 'F' 'B']
 ['Hector' 55 4 98 'C' 'F' 'A']]

In [20]:
dataset=np.append(dataset,avg,axis=1)
print(dataset)

[['John' 45 89 34 'C' 'A' 'F' 56.0]
 ['William' 50 3 65 'C' 'F' 'B' 39.333333333333336]
 ['Henry' 34 2 76 'F' 'F' 'A' 37.333333333333336]
 ['Chris' 22 42 87 'F' 'S' 'A' 50.333333333333336]
 ['Jack' 78 44 55 'A' 'S' 'C' 59.0]
 ['Stephane' 23 11 67 'F' 'F' 'B' 33.666666666666664]
 ['Harald' 23 97 87 'F' 'A' 'A' 69.0]
 ['Hearmy' 43 45 54 'S' 'C' 'C' 47.333333333333336]
 ['Sinsel' 2 34 34 'F' 'F' 'F' 23.333333333333332]
 ['George' 23 66 56 'F' 'B' 'C' 48.333333333333336]
 ['James' 44 33 76 'S' 'F' 'A' 51.0]
 ['Jade' 22 56 55 'F' 'C' 'C' 44.333333333333336]
 ['Tommy' 44 32 4 'S' 'F' 'F' 26.666666666666668]
 ['Yonus' 90 28 4 'A' 'F' 'F' 40.666666666666664]
 ['Randy' 19 67 56 'F' 'B' 'C' 47.333333333333336]
 ['Rex' 32 87 6 'F' 'A' 'F' 41.666666666666664]
 ['Tucsan' 45 65 90 'C' 'B' 'A' 66.66666666666667]
 ['Amell' 100 32 45 'A' 'F' 'C' 59.0]
 ['Vin' 34 2 65 'F' 'F' 'B' 33.666666666666664]
 ['Hector' 55 4 98 'C' 'F' 'A' 52.333333333333336]]

In [21]:
np.save('student_new',dataset)

In [22]:
data=np.load('/content/drive/MyDrive/Colab Notebooks/Python_Programming/student_new.npy')
print(data)

ValueError: Object arrays cannot be loaded when allow_pickle=False

In [24]:
np.savetxt("dataset_new.csv", dataset, delimiter=",")

TypeError: Mismatch between array dtype ('object') and format specifier ('%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e')

In [25]:
df=pd.DataFrame(data=dataset)
print(df)

           0    1   2   3  4  5  6          7
0       John   45  89  34  C  A  F       56.0
1    William   50   3  65  C  F  B  39.333333
2      Henry   34   2  76  F  F  A  37.333333
3      Chris   22  42  87  F  S  A  50.333333
4       Jack   78  44  55  A  S  C       59.0
5   Stephane   23  11  67  F  F  B  33.666667
6     Harald   23  97  87  F  A  A       69.0
7     Hearmy   43  45  54  S  C  C  47.333333
8     Sinsel    2  34  34  F  F  F  23.333333
9     George   23  66  56  F  B  C  48.333333
10     James   44  33  76  S  F  A       51.0
11      Jade   22  56  55  F  C  C  44.333333
12     Tommy   44  32   4  S  F  F  26.666667
13     Yonus   90  28   4  A  F  F  40.666667
14     Randy   19  67  56  F  B  C  47.333333
15       Rex   32  87   6  F  A  F  41.666667
16    Tucsan   45  65  90  C  B  A  66.666667
17     Amell  100  32  45  A  F  C       59.0
18       Vin   34   2  65  F  F  B  33.666667
19    Hector   55   4  98  C  F  A  52.333333

In [26]:
df=pd.DataFrame(data=dataset,columns=["name","maths","phy","chem","m-grade","p-grade","c-grade","avg"])
print(df)

        name maths phy chem m-grade p-grade c-grade        avg
0       John    45  89   34       C       A       F       56.0
1    William    50   3   65       C       F       B  39.333333
2      Henry    34   2   76       F       F       A  37.333333
3      Chris    22  42   87       F       S       A  50.333333
4       Jack    78  44   55       A       S       C       59.0
5   Stephane    23  11   67       F       F       B  33.666667
6     Harald    23  97   87       F       A       A       69.0
7     Hearmy    43  45   54       S       C       C  47.333333
8     Sinsel     2  34   34       F       F       F  23.333333
9     George    23  66   56       F       B       C  48.333333
10     James    44  33   76       S       F       A       51.0
11      Jade    22  56   55       F       C       C  44.333333
12     Tommy    44  32    4       S       F       F  26.666667
13     Yonus    90  28    4       A       F       F  40.666667
14     Randy    19  67   56       F       B       C  47.333333
15       Rex    32  87    6       F       A       F  41.666667
16    Tucsan    45  65   90       C       B       A  66.666667
17     Amell   100  32   45       A       F       C       59.0
18       Vin    34   2   65       F       F       B  33.666667
19    Hector    55   4   98       C       F       A  52.333333

In [27]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/Python_Programming/new_dataset.csv',index=False)