## 1.1 Python Veriables
<ul>
    <li>Numbers</li>
    <li>String</li>
    <li>List</li>
    <li>Tuple</li>
    <li>Dictionary</li>
</ul>

<h5>Python Identifiers</h5>
<p>A Python identifier is a name used to identify a variable, function, class, module or other object.</p>

In [1]:
a=10
b=20.5
c='X'
d='Hello World'

print(a, b, c, d)

10 20.5 X Hello World

In [2]:
a = b = c = 1
print(a, b, c)

1 1 1

In [3]:
a, b, c = 1, 2, "john"
print(a, b, c)

1 2 john

## 1.2 Python Strings
<p>String in Python are identified as a contiguous set of characters represented in the quotation marks. Python allows for either pairs of single or double quotes.</p>

In [4]:
myStr="Hello World!"
print(myStr) # Prints complete string
print(myStr[0]) # Prints first character of the string
print(myStr[2:5]) # Prints characters starting from 3rd to 5th
print(myStr[2:]) # Prints string starting from 3rd character
print(myStr * 2) # Prints string two times
print(myStr + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

## 1.3 Python Input
<p>Python <b>input()</b> function returns the user keyboard input as a string. You can use the <b>eval()</b> function to convert it into the desired data type. </p>

In [6]:
x=input()
print('x: ', x)

 10

x:  10

In [7]:
x=input('Enter a value for x:')
print('x: ', x)

Enter a value for x: 20

x:  20

In [8]:
x=input('Enter a value for x:')
y=input('Enter a value for y:')
print('x+y', x+y)

Enter a value for x: 10
Enter a value for y: 20.5

x+y 1020.5

In [9]:
x=eval(input('Enter a value for x:'))
y=eval(input('Enter a value for y:'))
print('x+y:', x+y)

Enter a value for x: 10
Enter a value for y: 20.5

x+y: 30.5

In [12]:
value1=eval(input('Enter value1:'))
value2=eval(input('Enter value1:'))
print('Addition', value1+value2)
print('Subtraction', value1-value2)
print('Multiplication', value1*value2)
print('Division', value1/value2)
print('Modulus', value1%value2)
print('Exponent', value1**value2)

Enter value1: 20
Enter value1: 10

Addition 30
Subtraction 10
Multiplication 200
Division 2.0
Modulus 0
Exponent 10240000000000

## 2 Arrays in Python
<p>In most of the other Programming Languages, an array defined as a data structure, which can store a fixed-size collection of elements of the same data type.</p>
<ul>
    <li>Lists</li>
    <li>Tuples</li>
    <li>Dictionaries</li>
</ul>

## 2.1 Lists
<p>The list is the most versatile datatype available in Python, which can be written as a list of comma-separated values (items) between square brackets. Important thing about a list is that the items in a list need not be of the same type.</p>
<p>Creating a list is as simple as putting different comma-separated values between square brackets.</p>

In [13]:
myList=[10,20.5,'X','Hello']
print(myList)
print(myList[0])
print(myList[1])

[10, 20.5, 'X', 'Hello']
10
20.5

In [17]:
myList=[10,20,40,23,21,24,12]
print(myList[0:3])
print(myList[:3])
print(myList[3:])
print(myList[2:5])

[10, 20, 40]
[10, 20, 40]
[23, 21, 24, 12]
[40, 23, 21]

<h5>Update List Elements</h5>
<p>You can update single or multiple elements of lists by giving the slice on the left-hand side of the assignment operator.</p>

In [15]:
myList=['Physics','Chemistry',1997,2000]
print("Value available at index 2", myList[2])

myList[2]=2001
print("New value available at index 2 : ", myList[2])

Value available at index 2 1997
New value available at index 2 :  2001

<h5>Delete List Elements</h5>
<p>To remove a list element, you can use either the del statement if you know exactly which element(s) you are deleting. You can use the <b>remove()</b> method if you do not know exactly which items to delete. For example -</p>

In [16]:
myList=['Physics','Chemistry',1997,2000]
print(myList)

del myList[2]
print("After deleting value at index 2 : ", myList)

['Physics', 'Chemistry', 1997, 2000]
After deleting value at index 2 :  ['Physics', 'Chemistry', 2000]

<h5>Built-in List Functions and Methods</h5>
<p>Python include the following list functions-</p>
<ul>
    <li><b>len(list)</b> Gives the total length of the list.</li>
    <li><b>max(list)</b> Returns item from the list with max value.</li>
    <li><b>min(list)</b> Returns item from the list with min value.</li>
    <li><b>sum(list)</b> Returns summation of the items from the list.</li>
</ul>

In [18]:
list1=['Physics','Chemistry','Maths']
x=len(list1)
print(x)

3

In [19]:
list1, list2=['C++', 'Java', 'Python'], [456, 700, 200]
print("Max value element : ", max(list1))
print("Max value element : ", max(list2))

Max value element :  Python
Max value element :  700

In [20]:
list3=list(range(10))
print(list3)
print(sum(list3))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
45

<h6>Python includes the following list methods</h6>
<ul>
    <li><b>list.append(obj)</b> Appends object obj to list</li>
    <li><b>list.count(obj)</b> Returns count of how many times obj occurs in list</li>
    <li><b>list.extend(seq)</b> Appends the contents of seq to list</li>
    <li><b>list.index(obj)</b> Returns the lowest index in list that obj appears</li>
    <li><b>list.insert(index,obj)</b> Inserts object obj into list at offset index</li>
    <li><b>list.sort([func])</b> Sorts objects of list, use compare func if given</li>
    <li><b>list.remove(obj)</b> Removes object obj from list</li>
</ul>

In [22]:
list1=['C++', 'Java', 'Python']
list1.append('C#')
print("Update list : ", list1)

Update list :  ['C++', 'Java', 'Python', 'C#']

In [23]:
aList=[123, 'xyz', 'zara', 'abc', 123];
print("Count for 123 : ", aList.count(123))
print("Count fro zara : ", aList.count('zara'))

Count for 123 :  2
Count fro zara :  1

In [1]:
list1=['physics','chemistry','maths']
list2=list(range(5)) #creates list of numbers between 0-4
list1.extend(list2)
print('Extended List :', list1)

Extended List : ['physics', 'chemistry', 'maths', 0, 1, 2, 3, 4]

In [2]:
list1=['physics','chemistry','maths']
print('Index of chemistry:', list1.index('chemistry'))

Index of chemistry: 1

In [3]:
list1=['physics','biology','chemistry','maths']
list1.pop()
print('list now: ',list1)
list1.pop(1)
print('list now: ', list1)

list now:  ['physics', 'biology', 'chemistry']
list now:  ['physics', 'chemistry']

In [4]:
list1=['physics','biology','chemistry','maths']
list1.remove('biology')
print("list now : ", list1)
list1.remove('maths')
print("list now : ", list1)

list now :  ['physics', 'chemistry', 'maths']
list now :  ['physics', 'chemistry']

In [5]:
list1=['physics','biology','chemistry','maths']
list1.reverse()
print("list now : ", list1)

list now :  ['maths', 'chemistry', 'biology', 'physics']

In [11]:
list1=['physics','biology','chemistry','maths']
list1.sort(reverse=False)
print("list now : ", list1)

list now :  ['biology', 'chemistry', 'maths', 'physics']

In [7]:
list1=['physics','biology','chemistry','maths']
list1.sort()
print("list now : ", list1)

list now :  ['biology', 'chemistry', 'maths', 'physics']

In [12]:
list1=['physics','biology','chemistry','maths']
list1.sort(reverse=True)
print("list now : ", list1)

list now :  ['physics', 'maths', 'chemistry', 'biology']

## 2.2 Tuples
<p>A tuple a sequence of immutable python objects. Tuples are sequences just like lists. The main difference between the tuples and lists is that the tuples cannot be changed unike lists. Tuples use parentheses whereas lists use square brackets.</p>
<p>Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses also</p>

In [9]:
tup1=('physics','chemistry',1997,2000)
tup2=(1,2,3,4,5,6,7)

print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

<h5>Updating Tuples</h5>
<p>Tuples are immutable, which means you cannot update or change the values of tuple elements.</p>

In [10]:
tup1=(12,34.56)
tup2=('abc','xyz')
# Following action is not valid for tuples
tup1[0]=100

TypeError: 'tuple' object does not support item assignment

In [13]:
# Following action is not valid for tuples
tup1.append(100)

AttributeError: 'tuple' object has no attribute 'append'

<p>However, You are able to take portions of the existing tuples to create new tuples as the following example demonstrates</p>

In [14]:
tup1=(12,34.56)
tup2=('abc','xyz')

tup3=tup1+tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

<p>Or else you can convert a tuple into list and then modify.</p>

In [15]:
tup1=(12,34.56)

list1=list(tup1)
print(list1)
list1.append(100)
list1[0]=20
print(list1)

[12, 34.56]
[20, 34.56, 100]

<p>Almost all the inbuilt list functions and inbuilt list methods expect methods which tries to modify a tuple work similar for tuples as well.</p>

In [16]:
myTuple=(12,433,53,234,6246)
print(max(myTuple))
print(len(myTuple))

6246
5

## 2.3 Dictionary
<p>Each key is separated from its value by a colon(:), the items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this:{}</p>
<p>Keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, but the keys must be of an immutable data type.</p>